.signupForm {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #0000003a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formImage {
  width: 350px;
}
.form {
}
.input,
.label {
  display: block;
  width: 200px;
}
.input {
  height: 25px;
  border-radius: 5px;
  outline-color: #a5e25f;
  border: 2px solid #a5e25f6b;
}
.signUpButton {
  width: 200px;
  height: 30px;
  margin: auto;
  margin-bottom: 1.6rem;
  background-color: transparent;
  border: 3px solid #a5e25f;
  border-radius: 5px;
  color: purple;
  font-size: 1.1rem;
}
