.signupForm {
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 450px;
  height: 760px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #0000003a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formImage {
  width: 380px;
}
.input,
.label {
  display: block;
  width: 320px;
}
.label {
  font-weight: 600;
  margin: 25px 0 5px 0;
}
.input {
  padding-left: 5px;
  height: 46px;
  border-radius: 5px;
  outline-color: #a5e25f;
  border: 2px solid #a5e25f6b;
  letter-spacing: 1px;
  font-size: 1rem;
}
.input::placeholder{
  color: #12445d69;
}
.signUpButton {
  width: 320px;
  height: 46px;
  margin: 2.8rem 0;
  background-color: #12445d;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}
.signUpButton:active {
  transform: scale(0.9);
}

.message {
  margin: 8px 0 0 2px;
  color: #808080;
  height: 10px;
  font-size: 0.8rem;
}
.asterisk {
  font-size: 0.8rem;
  color: #ec4b0b;
}
