.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formImage {
  width: 40vw;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
